
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.lock
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
/.metadata/
JavaProject/.settings/org.eclipse.jdt.core.prefs
JavaProject/.classpath
JavaProject/.project
